.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
  border-bottom: 1px solid rgb(185, 185, 185);

  .logo-container {
    display: flex;
    height: 100%;
    width: 200px;
    align-items: center;
    justify-content: center;
    color:black;
  }

  .menu {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .menu-item {
      padding: 10px 15px;
      color: black;
    }
  }
}
