.collection-item {
  margin: 1em;
  width: 300px;
  cursor: pointer;

  .image {
    width: 300px;
    height: 400px;
  }
  &:hover {
    .image {
      opacity: 70%;
    }
  }
}

.modal-image {
  max-width: 100%;
  min-width: 300px;
  height: auto;
}
