.banner{
  background-image: url("../../assets/city.jpg");
  background-size: cover;
  height: 30em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position-y: 50%;

  .banner-title-background{
    background: rgba(0, 0, 0, 0.5);
    padding-left: 3em;
    padding-right: 3em;
  }

  .banner-title{
    color: white;
    font-size: 4em;
  }

  @media only screen and (max-width: 600px) {
    .banner-title {
      font-size: 2.5em;
    }
  }

  @media only screen and (max-width: 400px) {
    .banner-title {
      font-size: 2em;
    }
  }
  
  

}
